@import "tailwindcss";
@plugin '@tailwindcss/typography';

@font-face {
  font-family: "Inter";
  src: url("/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('/Hack/fonts/hack-regular-subset.woff2?sha=3114f1256') format('woff2'), url('/Hack/fonts/hack-regular-subset.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/Hack/fonts/hack-bold-subset.woff2?sha=3114f1256') format('woff2'), url('/Hack/fonts/hack-bold-subset.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/Hack/fonts/hack-italic-subset.woff2?sha=3114f1256') format('woff2'), url('/Hack/fonts/hack-italic-webfont.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('/Hack/fonts/hack-bolditalic-subset.woff2?sha=3114f1256') format('woff2'), url('/Hack/fonts/hack-bolditalic-subset.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: italic;
}



@tailwind utilities;

@layer theme, base, components, utilities;

@theme {
  --font-mono: "Hack", "Space Mono", "monospace";

  --animate-test: test 1s linear infinite;

  @keyframes test {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

/* @import "tailwindcss/theme.css" layer(theme); */
/* @import "tailwindcss/preflight.css" layer(base); */
/* @import "tailwindcss/utilities.css" layer(utilities); */

body {
  font-family: "Inter", sans-serif;
  background-color: var(--theme-background);
  background-attachment: fixed;
  background-size: 100% 100%;
}

::selection {
  @apply bg-amber-500;
}

@utility glassutility {
  @apply backdrop-blur-md;
  position: relative;
  background-color: var(--theme-background-translucent);
  background-image: url("/2025.nixcon.org/noisy-texture-100x100-o4-d10-c-f34379-t1.png");
  background-repeat: repeat;
}


/* Glass container with noisy texture overlay */
.glass {
  @apply backdrop-blur-md border border-white/10 shadow-xl;
  position: relative;
  background-color: var(--theme-background-translucent);
}

.glass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/noisy-texture-100x100-o4-d10-c-f34379-t1.png");
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.8;
  pointer-events: none;
  z-index: 1;
  border-radius: inherit;
}

.glass>* {
  position: relative;
  z-index: 2;
}

.debug {
  border: 2px dashed blue;
}

.debug>* {
  border: 2px dashed red;
}

.grain {
  position: relative;
  /* Ensure pseudo-element is positioned relative to this */
  z-index: 0;
  /* Ensure content is above the pseudo-element */
}

.grain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/noisy-texture-100x100-o4-d10-c-f34379-t1.png");
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.8;
  z-index: -1;
  /* Place the pseudo-element behind the content */
  pointer-events: none;
  /* Make sure it doesn't interfere with interactions */
}



[id] {
  scroll-margin-top: 100px;
}